/web/bundles/
/var/bootstrap.php.cache
/var/cache/*
/app/config/parameters.yml
/app/var
/var/logs/*
/build/
/web/build/
/vendor/
/composer.phar
/web/css/*
/web/js
*.sublime-project
*.sublime-workspace
/web/uploads/*
/web/generated-css/*
/web/generated-js/*
/web/view-css/*
/app/sessions
/web/media/cache
/behat.yml
/node_modules/
